<div class="container register-row">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row ">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()" class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    formControlName="firstName"
                    id="exampleFirstName"
                    placeholder="First Name"
                  />
                <div *ngIf="submitted && getFormErrors.firstName.errors" class="text-danger m-2">
                    <div *ngIf="getFormErrors.firstName.errors.required">First Name is missing</div>
                </div>
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    formControlName="lastName"
                    id="exampleLastName"
                    placeholder="Last Name"
                  />
                  <div *ngIf="submitted && getFormErrors.lastName.errors" class="text-danger m-2">
                    <div *ngIf="getFormErrors.lastName.errors.required">Last Name is missing</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control form-control-user"
                  id="exampleInputEmail"
                  formControlName="email"
                  placeholder="Email Address"
                />
                <div *ngIf="submitted && getFormErrors.email.errors" class="text-danger m-2">
                  <div *ngIf="getFormErrors.email.errors.required">Email is missing or mal formed</div>
                </div>
              </div>
              <div class="form-group">
                  <input
                    type="number"
                    class="form-control form-control-user"
                    id="phoneNumber"
                    formControlName="phone"
                    placeholder="Phone number"
                  />
                  <div *ngIf="submitted && getFormErrors.phone.errors" class="text-danger m-2">
                    <div *ngIf="getFormErrors.phone.errors.required">Phone number is missing or mal formed</div>
                  </div>
                </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    id="exampleInputPassword"
                    formControlName="password"
                    placeholder="Password"
                  />
                  <div *ngIf="submitted && getFormErrors.password.errors" class="text-danger m-2">
                    <div *ngIf="getFormErrors.password.errors.required">Password is missing</div>
                    <div *ngIf="getFormErrors.password.errors.pattern">Password is mal formed (min lenght 8)</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input
                    type="password"
                    class="form-control form-control-user"
                    id="exampleRepeatPassword"
                    formControlName="repeatedPassword"
                    placeholder="Repeat Password"
                  />
                  <div *ngIf="submitted && getFormErrors.repeatedPassword.errors" class="text-danger m-2">
                    <div *ngIf="getFormErrors.repeatedPassword.errors.required">Password is missing</div>
                    <div *ngIf="getFormErrors.repeatedPassword.errors.pattern">Password is mal formed (min lenght 8)</div>
                    <div *ngIf="getFormErrors.repeatedPassword.errors.mustMatch">Passwords are not identical ! </div>
                  </div>
                </div>
              </div>
              <div class="form-group row m-4">
                <input type="file" 
                      formControlName="photo"
                      (change)="onSelectFile($event)" 
                      accept="image/jpeg, image/png"/>
                </div>
              <button
                class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <div *ngIf="emailError" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>Error occured !</strong>. The mail used already exists. Try with another one.               
              </div>
              <div *ngIf="serverError" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>Error occured !</strong>. Internal server error try again in a few minutes.              
              </div>
              <div *ngIf="registrationSucces" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Success !</strong>. A confirmation mail has been sent to your adress mail.
                Please confirm your registration.
              </div>
              <hr/>
            <!--  <button
                class="btn btn-google btn-user btn-block"
                (click)="goHome()"
              >
                <i class="fab fa-google fa-fw"></i> Register with Google
              </button> -->
            </form>

            
            
           <!--
              <hr /> 
            <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div> -->
            <div class="text-center">
              <a class="small" routerLink="/Login">Already have an account?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
