.projectEditrow {
  padding-top: 3rem;
}

.bg-ProjectEdit-image {
  background: url('src/images/project-management-login.png');
  background-position: center;
  background-size: cover;
}

form.project {
  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-project {
    font-size: 1.1rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
    margin: 1.2rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
  .project-title input {
     

    color:#0a46c9;
  }
  .project-element {
    input{

  color:#051a47;
}
}
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}
.project-title {form::placeholder    {
font-size: 1.3 em;
color: red;

}}
.select
{   
  border-radius: 0.3rem;
  padding: 1rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #a2aaaa;
}


.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.login::before {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
}
