<!-- Outer Row -->
<div class=" row login-row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">
                                    Bienvenue. recover your account !
                                </h1>
                            </div>
                            <form [formGroup]="emailForm" (ngSubmit)="onSubmitForm()" class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        aria-describedby="emailHelp" placeholder="Your @ Mail"
                                        formControlName="email" />
                                    <div *ngIf="submitted && getFormErrors.email.errors" class="text-danger m-2">
                                        <div *ngIf="getFormErrors.email.errors.required">the email is missing</div>
                                        <div *ngIf="getFormErrors.email.errors.email">the email is not valid</div>
                                    </div>
                                </div>

                                <!-- [disabled]='loginForm.invalid' -->
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                   Send
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>