<!-- Topbar -->
<nav
  *ngIf="'/'"
  class="navbar navbar-padding navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <!-- Topbar Search -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="Login" routerLinkActive="active">
        <span>Login <i class="fas fa-sign-in-alt"></i></span
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Signup" routerLinkActive="active">
        <span>Register </span><i class="fas fa-user-plus"></i
      ></a>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
