<!-- First Column -->

<!-- Custom Text Color Utilities -->
<div class="card shadow mb-4 m-4">
      <a href="#{{idCollapse}}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">{{name}}</h6>
      </a>
  <div class="collapse" id="{{idCollapse}}">   
  <div class="card-body" *ngFor="let member of members">
    <div class="d-flex align-items-center">
      <div class="dropdown-list-image mr-3">
        <i *ngIf="member.role == 'admin'" class="fas fa-user-tie fa-2x"></i>  
        <i *ngIf="member.role == 'member'" class="fas fa-user fa-2x"></i>
        <div class="status-indicator bg-success"></div>
      </div>
      <div class="font-weight-bold">
        <div class="text-truncate">{{member.email}}</div>
        <div class="small text-gray-500">{{member.role}}</div>
      </div>
    </div>
  </div>
  </div>
  <hr class="sidebar-divider divider-margin" />
</div>
