.img-empty-people{
  background-image: url("../../../../images/collaboration.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px 250px;
	height: 80%;
}
.row-margin {
  margin: 0.1rem 2.5rem 2.5rem 6rem !important;
}
