.img-empty-people{
  background-image: url("../../../../assets/images/no_projectteam.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% 40%;
	height: 80%;
}
.row-margin {
  margin: 0.1rem 2.5rem 2.5rem 6rem !important;
}
