<div class="row">

    <div class="mt-3 ml-4">
        <h1 class="h3 mb-0 text-gray-800">My tasks</h1>
    </div>

      <div class="m-4 w-100 p-3 ">
          <tabset justified="true">
            <tab heading="My tasks"> 
              <app-tasks-list ></app-tasks-list>
              <hr class="m-0"/>
              <app-tasks-list class="mb-2"></app-tasks-list>
              <hr class="m-0"/>
              <app-tasks-list class="mb-3"></app-tasks-list>
              <hr class="m-0"/>
              <app-tasks-list ></app-tasks-list>
              <hr class="m-0"/>
              <app-tasks-list class="mb-2"></app-tasks-list>
              <hr class="m-0"/>
              <app-tasks-list class="mb-3"></app-tasks-list>
              <hr class="m-0"/>
            </tab>
            <tab heading="All tasks">
              <app-tasks-list></app-tasks-list>
              <hr class="m-0"/>
            </tab>
          </tabset>
      </div>

      <button class="float bg-primary" (click)="openTaskCreation()">
          <i class="fa fa-plus my-float"></i>
      </button>
</div>

