.img-empty-tasks {
	background-image: url("../../../../images/no_tasks.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30% 30%;
	height: 100%;
}

.loading-data {
	background-image: url("../../../../assets/gif/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45% 45%;
	height: 100%;
}

.error-get-data {
	background-image: url("../../../../assets/gif/error.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45% 45%;
	height: 100%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:0px;
}