<div class="container h-100 modal-body">
  <div class="card o-hidden border-0 shadow-lg mt-3 mb-3">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-12">
        <div class="p-5">
          <div class="text-center">
            <h1 *ngIf="isConsult"> {{card.title}}</h1>
            <h1 *ngIf="!isConsult && !isUpdate" class="h2 text-gray-900 mb-4">Create Task</h1>
            <h1 *ngIf="isUpdate" class="h2 text-gray-900 mb-4">Update task
              <i class="fas fa-info-circle"  data-toggle="tooltip" data-placement="right" title="Only project members can be assigned to a task !"></i>
            </h1>
          </div>
          <form *ngIf="!isConsult" [formGroup]="cardForm" (ngSubmit)="submitForm()" class="user">
            <div class="form-group">
              <label id="">Project : <b> {{projectName}} </b></label>
            </div>
            <div class="form-group">
              <label for="type">Task type : </label>
              <select class="form-control form-control-task" id="type" formControlName="type">
                <option value="" selected disabled hidden>Choose here</option>
                <option *ngFor="let type of types" [selected]="(card && type == card.type)"> {{ type }} </option>
              </select>
              <div *ngIf="submitted && getFormErrors.type.errors" class="text-danger m-2">
                <div *ngIf="getFormErrors.type.errors.pattern">the type is missing</div>
              </div>
            </div>
            <div *ngIf="isUpdate" class="form-group">
              <label for="type">Task type : </label>
              <select class="form-control form-control-task" id="status" formControlName="status">
                <option value="" selected disabled hidden>Choose here</option>
                <option *ngFor="let s of status" [selected]="(card && s == card.status)"> {{ s }} </option>
              </select>
              <div *ngIf="submitted && getFormErrors.type.errors" class="text-danger m-2">
                <div *ngIf="getFormErrors.type.errors.pattern">the status is missing</div>
              </div>
            </div>
            <div class="form-group">
              <label for="taskName">Task title : </label>
              <input id="taskName" type="text" class="form-control form-control-task" placeholder="Task title..."
                formControlName="title" />

              <div *ngIf="submitted && getFormErrors.title.errors" class="text-danger m-2">
                <div *ngIf="getFormErrors.title.errors.required">the title is missing</div>
                <div *ngIf="getFormErrors.title.errors.pattern">the title is not valid</div>
              </div>
            </div>

            <div class="form-group">
              <label id="">Task description : </label>
              <textarea type="text" class="form-control form-control-task" placeholder="Task description..."
                formControlName="description"></textarea>
              <div *ngIf="submitted && getFormErrors.description.errors" class="text-danger m-2">
                <div *ngIf="getFormErrors.description.errors.required">the description is missing</div>
                <div *ngIf="getFormErrors.description.errors.pattern">the description is not valid</div>
              </div>
            </div>

            <div *ngIf="isUpdate" class="form-group">
              <ng-select class="form-control-task" [items]="projectMembers" [multiple]="true" [closeOnSelect]="false"
                [hideSelected]="true" bindLabel="email" placeholder="Select members to assign..." formControlName="members">
                <!-- [(ngModel)]="selectedPeople" -->
              </ng-select>
            </div>
            <!-- [disabled]='cardForm.invalid' -->
            <button *ngIf="!isUpdate" type='submit' class="btn btn-primary btn-user btn-block"> Create </button>
          </form>

          <div *ngIf="isConsult">
            <div class="form-group">
              <label id="">Project : <b> {{projectName}} </b></label>
            </div>
            <div class="form-group">
              <label for="type">Task type : <b> {{card.type}} </b></label>
            </div>
            <div class="form-group">
              <label for="type">Task status : <b> {{card.status}} </b></label>
            </div>
            <div class="form-group">
              <label id="">Task description : <b> {{card.description}} </b></label>
            </div>
            <div class="form-group">
              <label id="">Task members : <b *ngFor="let member of card.members"> {{member.firstName}} {{member.lastName}} </b></label>
            </div>
            <div class="form-group">
              <label id="">Created at : <b> {{card.createdAt | date : 'medium'}} </b></label>
            </div>
            <div class="form-group">
              <label id="">Created by : <b> {{card.createdBy.lastName}} {{card.createdBy.firstName}} </b></label>
            </div>
          </div>
          <diV *ngIf="isUpdate">
          <br/>
          <br/>
          </diV> 
          <div class="row" *ngIf="isUpdate || isConsult">
            <div *ngIf="isUpdate" class="col-md-4" style="margin-left: auto;margin-right:auto;">
              <input type="submit" class="task-edit-btn" name="btnAddMore" value="Update task" (click)="updateCard()"/>
            </div>
            <div  *ngIf="isConsult" class="col-md-4" style="margin-left: auto;margin-right:auto;">
              <input type="submit" class="task-edit-btn" name="btnAddMore" value="Click to edit" (click)="switchToEdit()"/>
            </div>
            <div  *ngIf="isUpdate" class="col-md-4" style="margin-left: auto;">
              <input type="submit" class="task-edit-btn" name="btnAddMore" value="Cancel edit" (click)="cancelEdit()"/>
            </div> 
            <div  *ngIf="isUpdate || isConsult" class="col-md-4" style="margin-left: auto;margin-right:auto;">
              <input type="submit" class="task-delete-btn" name="btnAddMore" value="Delete task" (click)="openModal(template)"/>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you really want to delete this task ?</p>
    <button type="button" class="btn btn-danger m-2" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary m-2" (click)="decline()" >No</button>
  </div>
</ng-template>  