.fix-side-bar{
	width : calc(100% - 18rem)!important;
	float: right;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:13px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:0px;
}