<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">

        <div class="board-bar">
            <p class="board-name">{{ board.name }}</p>
        </div>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns">

                    <div class="column-title">
                        {{ column.name }}
                    </div>

                    <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task card border-left-primary shadow h-400 py-2" cdkDrag [cdkDragData]="taskItem"
                            *ngFor="let taskItem of column.tasks" cdkDrag>

                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{ taskItem.title}}</div>
                                        <div class="h8 mb-0 font-weight-bold text-gray-800">
                                            {{taskItem.description}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>